
@model List<Lab.MVC.Models.CustomerView>
@{
    ViewBag.Title = "Customers";
}

<h1>Soy el index de customers Xd</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID Customer</th>
            <th scope="col">Nombre compañia</th>
            <th scope="col"> </th>
            <th scope="col"> </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var c in Model)
        {
            <tr>
                <th scope="row">@c.ID</th>
                <td>@c.CompanyName</td>
                <td>@Html.ActionLink("Modificar", "Update", new { id = c.ID })</td>
                <td>@Html.ActionLink("Borrar", "Delete", new { id = c.ID })</td>
            </tr>
        }
    </tbody>
</table>

<div>
    @Html.ActionLink("Insertar Nuevo Customer", "Insert")
</div>

