@model List<Lab.MVC.Models.EmployeeView>

@{
    ViewBag.Title = "Employee";
}

<h1>Soy el index de empleados Xd</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID empleado</th>
            <th scope="col">Nombre empleado</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody></tbody>

    @foreach (var e in Model)
    {
        <tr>
            <th scope="row">@e.EmployeeID</th>
            <td>@e.FirstName</td>
            <td>@Html.ActionLink("Modificar", "Update", new { id = e.EmployeeID })</td>
            <td>@Html.ActionLink("Borrar", "Delete", new { id = e.EmployeeID })</td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink("Insertar Nuevo Employee", "Insert")
</div>
